<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Load content Dynamically in Bootstrap Modal with Jquery AJAX and Python Flask PostgreSQL</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <br/>
    <h3 align="center">Load content Dynamically in Bootstrap Modal with Jquery AJAX and Python Flask PostgreSQL</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="60">Photo</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Salary</th>
                  <th>View</th>
                </tr>
              </thead>
              {% for row in employee %} 
                <tr>
                  <td><image src="/static/images/{{row.photo}}" height="50" width="50"/></td>
                  <td>{{ row.name }}</td>
                  <td>{{ row.position }}</td>
                  <td>{{ row.office }}</td>
                  <td>{{ row.age }}</td>
                  <td>{{ row.salary }}</td>
                  <td><button data-id='{{row.id}}' class="userinfo btn btn-success">Info</button></td>
                </tr> 
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="empModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">使用者資訊(User Info)</h4>
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">關閉(Close)</button>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.userinfo').click(function(){
        var userid = $(this).data('id');
        $.ajax({
          url: '/ajaxfile',
          type: 'post',
          data: {userid: userid},
          success: function(data){
            $('.modal-body').html(data);
            $('.modal-body').append(data.htmlresponse);
            $('#empModal').modal('show');
          }
        });
      });
    });
  </script>
  
</body>
</html>